  <div class="explanation"><p>Sign up to receive infrequent e-mail about new art, shows I'm playing, and other interesting things. Also, occasional discounts on my online store. You can unsubscribe anytime and your e-mail won't be shared.</p></div>
  <form
  action="https://buttondown.email/api/emails/embed-subscribe/davidrhoden"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/davidrhoden', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input class="button" type="submit" value="Subscribe" />
  <input type="hidden" name="tag" value="us" />
  <input type="hidden" name="tag" value="website-contact" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>