  <form
  action="https://buttondown.email/api/emails/embed-subscribe/davidrhoden"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/davidrhoden', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  <input class="button" type="submit" value="Subscribe" />
  <input type="hidden" name="tag" value="us" />
  <input type="hidden" name="tag" value="stacks-website" />
  <input type="hidden" name="tag" value="stacks-only" />
  <p>
    <a href="https://buttondown.email" target="_blank">Powered by Buttondown.</a>
  </p>
</form>