<footer>
  <small>
    This project is maintained by <a href="https://www.davidrhoden.com">David Rhoden</a>.
    There are many groups called The Stacks. We're just one of them. We've been using the name since 1999, if it matters. Feel free to suggest a better name.
  </small>
</footer>
