<footer>
  <small>
    This website is maintained by <a href="https://www.davidrhoden.com">David Rhoden</a>.<br>
    There are many groups called The Stacks. We're just one of them. We've been using the name since 1999, if it matters. Feel free to suggest a better name.<br>
    We don't sell your info, should you give it to us (in the Contact form, say), and we won't in the future.<br>
    You can follow us on Facebook at <a href="https://www.facebook.com/thestacksnola/" target="_blank">https://www.facebook.com/thestacksnola/</a>. We announce our shows there, as well as in other places.
  </small>
</footer>
