<footer>
  <small>
    This website is maintained by <a href="https://www.davidrhoden.com" target="_blank">David Rhoden</a>. There are many groups called The Stacks. We're just one of them. We've been using the name since 1999, if it matters. Feel free to suggest a better name. We don't sell your info, should you give it to us (in the Contact form, say), and we won't in the future. You can <a href="https://www.facebook.com/thestacksnola" target="_blank" rel="noopener noreferrer">follow us on Facebook</a>. We announce our shows there, as well as in other places.
  </small>
</footer>
