<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="Description" content="They don't call us the Louisiana homewreckers and hellraisers for nothing.">
  <title>The Stacks :: New Orleans' $$$$ Million Dollar $$$$ Party Band</title>
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Big+Shoulders+Display&display=swap" rel="stylesheet">
  {% set css %}
    {% include "assets/css/inline.css" %}
  {% endset %}
  <style>{{ css | cssmin | safe }}</style>
  {% set js %}
    {% include "assets/js/inline.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</head>
