<header>
    <div class="flex-container">
        <a class="home-link" href="/"><img class="main-logo" src="/static/img/logo-stacks-cyan.png" alt="The Stacks"></a>
        <div class="mobile-menu">
        <div id="search"></div>
            <button class="hamburger hamburger--squeeze" aria-label="Menu" aria-controls="primary-menu" aria-expanded="false" type="button">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </div>
    </div>
    {% include "components/nav.njk" %}
</header>
