<!-- Pagination links -->
  <div class="page-selector">
    {% if pagination.previousPageHref %}
      <a href="{{ pagination.previousPageHref }}" class="page-numbers">Back to the future.</a>
    {% else %}
      <span class="page-numbers disabled">You've reached the present.</span>
    {% endif %}
    <span class="page-numbers">
      Page {{ pagination.pageNumber + 1 }} of {{ pagination.links | length  }}.
    </span>
    {% if pagination.nextPageHref %}
      <a href="{{ pagination.nextPageHref }}" class="page-numbers">Forward to the past.</a>
    {% else %}
      <span class="page-numbers disabled">You've reached the beginning.</span>
    {% endif %}
  </div>