<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">

    {% include "components/head.njk" %}

    <body class="{% if pageType %}{{ pageType }}{% endif %} {{ page.fileSlug }} {{ pageClasses }}">
        {% include "components/header.njk" %}
        <main>
            {{ layoutContent | safe }}
        </main>
            {% include "components/footer.njk" %}
    </body>

</html>