<!doctype html>
<html {% if section %}data-current="{{ section }}"{% endif %} lang="en">

    {% include "components/head.njk" %}

    <body class="{% if pageType %}{{ pageType }}{% endif %} {{ page.fileSlug }} {{ pageClasses }}">
        <header>
        <a class="home-link" href="/"><img class="main-logo" src="/static/images/logo-stacks-cyan.png" alt="The Stacks"></a>
        <nav>{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}</nav>
        </header>

        <main>
            {{ layoutContent | safe }}
        </main>
            {% include "components/footer.njk" %}
    </body>

</html>