<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

    {% include "components/head.njk" %}

    <body>
        <header>
            <h1 class="big-title">The Stacks</h1>
            <h1 class="sub-title">New Orleans&rsquo; $$$$ Million-Dollar $$$$ Party Band</h1>
            {% include "components/nav.njk" %}
        </header>

        <main>
            {{ layoutContent | safe }}
        </main>
            {% include "components/footer.njk" %}
    </body>

</html>
